
/* --------- */
/* reset_css */
/* --------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a{
  color: #333;
  text-decoration: none;
}

/* ----------- */
/* general_css */
/* ----------- */

/* Make the app height always be atleast 100% of the viewport height */
body > #root > div {
  height: 100vh;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2rem;
  min-height: 100%;
  display: grid;
  grid-template-rows: 6rem 1fr 6rem;
}

.sidebar {
  background-color: #999;
}

.content {
  padding: 1rem;
}

.wrapper {
  display: grid;
}

/* -------- */
/* wiki_css */
/* -------- */

.wiki-wrapper {
  grid-template-columns: 12rem 1fr;
}

/* Hide all text by default */
.text-content {
  display: none;
}

.wiki-button {
  display: inline-block;
  background-color: #ddd;
  padding: 1rem;
  margin-right: .5rem
}

.prev-page-link {
  text-decoration: underline;
  color: #325fa8;
  display: block;
  margin-bottom: 1rem;
}


/* progressInput-css */

.progress-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.progress-ul li {
  float: left;
  width: 12rem;
  position: relative;
  text-align: center;
}

.progress-ul input, .progress-ul label {
  
}

.progress-ul input {
  display: none;
}

/* .progress-ul input:checked + label {
  background-color: #555;
} */

.progress-ul label {
  background-color: #777;
  display: block;
  padding: .2rem 0;
  width: 100%;
  border-bottom: 1px solid #333;
}



